# Dependencies
node_modules/

# Environment Variables
.env
.env.local
.env.*

# Logs
logs
*.log
npm-debug.log*

# Runtime
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage/
